# PostgreSQL Role - Main Tasks
---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - vars
      skip: true
  tags:
    - postgresql

- name: Install PostgreSQL repository (RHEL/Amazon Linux)
  ansible.builtin.yum:
    name: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_distribution_major_version }}-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
    state: present
    disable_gpg_check: true
  when: ansible_os_family == "RedHat"
  tags:
    - postgresql
    - packages

- name: Install PostgreSQL packages (RHEL/Amazon Linux)
  ansible.builtin.yum:
    name: "{{ postgresql_packages }}"
    state: present
  when: ansible_os_family == "RedHat"
  tags:
    - postgresql
    - packages

- name: Install PostgreSQL packages (Debian/Ubuntu)
  ansible.builtin.apt:
    name: "{{ postgresql_packages_debian }}"
    state: present
  when: ansible_os_family == "Debian"
  tags:
    - postgresql
    - packages

- name: Initialize PostgreSQL database
  ansible.builtin.command: "{{ postgresql_bin_directory }}/postgresql-{{ postgresql_version }}-setup initdb"
  args:
    creates: "{{ postgresql_data_directory }}/PG_VERSION"
  when: ansible_os_family == "RedHat"
  tags:
    - postgresql
    - init

- name: Create PostgreSQL data directory
  ansible.builtin.file:
    path: "{{ postgresql_data_directory }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0700"
  tags:
    - postgresql
    - directories

- name: Create PostgreSQL log directory
  ansible.builtin.file:
    path: "{{ postgresql_data_directory }}/log"
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"
  tags:
    - postgresql
    - directories

- name: Configure PostgreSQL
  ansible.builtin.template:
    src: postgresql.conf.j2
    dest: "{{ postgresql_config_directory }}/postgresql.conf"
    owner: postgres
    group: postgres
    mode: "0644"
    backup: true
  notify: Restart postgresql
  tags:
    - postgresql
    - config

- name: Configure PostgreSQL client authentication
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: "{{ postgresql_config_directory }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: "0640"
    backup: true
  notify: Reload postgresql
  tags:
    - postgresql
    - config

- name: Ensure PostgreSQL is enabled and running
  ansible.builtin.service:
    name: "postgresql-{{ postgresql_version }}"
    state: started
    enabled: true
  tags:
    - postgresql
    - service

- name: Wait for PostgreSQL to be ready
  ansible.builtin.wait_for:
    port: "{{ postgresql_port }}"
    delay: 5
    timeout: 60
  tags:
    - postgresql

- name: Set PostgreSQL admin password
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgresql_admin_user }}"
    password: "{{ postgresql_admin_password }}"
    encrypted: true
    state: present
  tags:
    - postgresql
    - users

- name: Create PostgreSQL users
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    encrypted: true
    role_attr_flags: "{{ item.role_attr_flags | default('NOSUPERUSER,NOCREATEDB') }}"
    state: present
  loop: "{{ postgresql_users }}"
  loop_control:
    label: "{{ item.name }}"
  no_log: true
  tags:
    - postgresql
    - users

- name: Create PostgreSQL databases
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner | default('postgres') }}"
    encoding: "{{ item.encoding | default('UTF8') }}"
    lc_collate: "{{ item.lc_collate | default('en_US.UTF-8') }}"
    lc_ctype: "{{ item.lc_ctype | default('en_US.UTF-8') }}"
    template: template0
    state: present
  loop: "{{ postgresql_databases }}"
  loop_control:
    label: "{{ item.name }}"
  tags:
    - postgresql
    - databases

- name: Install PostgreSQL extensions
  become: true
  become_user: postgres
  community.postgresql.postgresql_ext:
    name: "{{ item }}"
    db: "{{ postgresql_databases[0].name }}"
    state: present
  loop: "{{ postgresql_extensions }}"
  when: postgresql_databases | length > 0
  tags:
    - postgresql
    - extensions

- name: Grant database privileges
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    database: "{{ item.database }}"
    roles: "{{ item.roles }}"
    privs: "{{ item.privs }}"
    type: "{{ item.type | default('database') }}"
    objs: "{{ item.objs | default(omit) }}"
    schema: "{{ item.schema | default(omit) }}"
    state: present
  loop: "{{ postgresql_privs }}"
  loop_control:
    label: "{{ item.roles }} on {{ item.database }}"
  tags:
    - postgresql
    - privileges

- name: Configure backup scripts
  ansible.builtin.include_tasks: backup.yml
  when: postgresql_backup_enabled | default(false)
  tags:
    - postgresql
    - backup

- name: Configure replication
  ansible.builtin.include_tasks: replication.yml
  when: postgresql_replication_enabled | default(false)
  tags:
    - postgresql
    - replication
