# Auditd Configuration Tasks
---
- name: Install auditd
  ansible.builtin.package:
    name:
      - audit
      - audit-libs
    state: present

- name: Configure auditd
  ansible.builtin.template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: "0640"
  notify: Restart auditd

- name: Deploy audit rules
  ansible.builtin.template:
    src: audit.rules.j2
    dest: /etc/audit/rules.d/chikwex.rules
    owner: root
    group: root
    mode: "0640"
  notify: Restart auditd

- name: Ensure auditd is enabled and running
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true
