apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: {{ .Values.global.namespace }}
type: Opaque
stringData:
  username: {{ .Values.secrets.dbUsername | quote }}
  password: {{ .Values.secrets.dbPassword | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: {{ .Values.global.namespace }}
type: Opaque
stringData:
  JWT_SECRET: {{ .Values.secrets.jwtSecret | quote }}
  STRIPE_KEY: {{ .Values.secrets.stripeKey | quote }}
