# Common Role - Main Tasks
# Applies base configuration to all servers
---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - vars
      skip: true
  tags:
    - common
    - always

- name: Set timezone
  community.general.timezone:
    name: "{{ system_timezone }}"
  notify: Restart cron
  tags:
    - common
    - timezone

- name: Set system locale
  ansible.builtin.lineinfile:
    path: /etc/locale.conf
    regexp: "^LANG="
    line: "LANG={{ system_locale }}"
    create: true
    mode: "0644"
  tags:
    - common
    - locale

- name: Update package cache (RHEL/CentOS/Amazon Linux)
  ansible.builtin.yum:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "RedHat"
  tags:
    - common
    - packages

- name: Update package cache (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"
  tags:
    - common
    - packages

- name: Install common packages (RHEL/CentOS/Amazon Linux)
  ansible.builtin.yum:
    name: "{{ common_packages }}"
    state: present
  when: ansible_os_family == "RedHat"
  tags:
    - common
    - packages

- name: Install common packages (Debian/Ubuntu)
  ansible.builtin.apt:
    name: "{{ common_packages_debian | default(common_packages) }}"
    state: present
  when: ansible_os_family == "Debian"
  tags:
    - common
    - packages

- name: Configure NTP with chrony
  ansible.builtin.include_tasks: ntp.yml
  tags:
    - common
    - ntp

- name: Configure SSH
  ansible.builtin.include_tasks: ssh.yml
  tags:
    - common
    - ssh

- name: Manage admin users
  ansible.builtin.include_tasks: users.yml
  tags:
    - common
    - users

- name: Configure system limits
  ansible.builtin.include_tasks: limits.yml
  tags:
    - common
    - limits

- name: Configure sysctl parameters
  ansible.builtin.include_tasks: sysctl.yml
  tags:
    - common
    - sysctl

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  when: set_hostname | default(true)
  tags:
    - common
    - hostname

- name: Update /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^127\\.0\\.0\\.1.*{{ inventory_hostname }}"
    line: "127.0.0.1   {{ inventory_hostname }} {{ inventory_hostname_short | default(inventory_hostname.split('.')[0]) }}"
    state: present
  tags:
    - common
    - hostname

- name: Ensure required directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /opt/scripts
    - /var/log/ansible
    - /etc/ansible/facts.d
  tags:
    - common
    - directories

- name: Deploy custom facts
  ansible.builtin.template:
    src: custom_facts.fact.j2
    dest: /etc/ansible/facts.d/custom.fact
    mode: "0755"
  tags:
    - common
    - facts
