# PostgreSQL Role - Default Variables
---
# Version
postgresql_version: "15"

# Directories
postgresql_data_directory: "/var/lib/pgsql/{{ postgresql_version }}/data"
postgresql_config_directory: "/var/lib/pgsql/{{ postgresql_version }}/data"
postgresql_bin_directory: "/usr/pgsql-{{ postgresql_version }}/bin"

# Packages
postgresql_packages:
  - "postgresql{{ postgresql_version }}-server"
  - "postgresql{{ postgresql_version }}-contrib"
  - python3-psycopg2

postgresql_packages_debian:
  - "postgresql-{{ postgresql_version }}"
  - "postgresql-contrib-{{ postgresql_version }}"
  - python3-psycopg2

# Admin User
postgresql_admin_user: postgres
postgresql_admin_password: ""

# Network Configuration
postgresql_listen_addresses: "localhost"
postgresql_port: 5432
postgresql_max_connections: 100

# Memory Configuration
postgresql_shared_buffers: "128MB"
postgresql_effective_cache_size: "512MB"
postgresql_work_mem: "4MB"
postgresql_maintenance_work_mem: "64MB"

# WAL Configuration
postgresql_wal_level: replica
postgresql_max_wal_senders: 3
postgresql_wal_keep_size: "64MB"
postgresql_archive_mode: "off"

# Checkpoint Configuration
postgresql_checkpoint_completion_target: 0.9
postgresql_checkpoint_timeout: "5min"

# Logging
postgresql_logging_collector: "on"
postgresql_log_directory: "log"
postgresql_log_filename: "postgresql-%Y-%m-%d_%H%M%S.log"
postgresql_log_rotation_age: "1d"
postgresql_log_rotation_size: "100MB"
postgresql_log_min_duration_statement: -1
postgresql_log_checkpoints: "off"
postgresql_log_connections: "off"
postgresql_log_disconnections: "off"
postgresql_log_lock_waits: "off"

# Databases
postgresql_databases: []

# Users
postgresql_users: []

# Privileges
postgresql_privs: []

# HBA Entries
postgresql_hba_entries:
  - type: local
    database: all
    user: postgres
    method: peer
  - type: local
    database: all
    user: all
    method: md5
  - type: host
    database: all
    user: all
    address: "127.0.0.1/32"
    method: md5
  - type: host
    database: all
    user: all
    address: "::1/128"
    method: md5

# Extensions
postgresql_extensions:
  - pg_stat_statements

# Shared Preload Libraries
postgresql_shared_preload_libraries: "pg_stat_statements"

# Backup Configuration
postgresql_backup_enabled: false
postgresql_backup_directory: /var/backups/postgresql
postgresql_backup_retention_days: 7

# Replication
postgresql_replication_enabled: false
postgresql_role: primary
