# Security Role - Handlers
---
- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Restart auditd
  ansible.builtin.service:
    name: auditd
    state: restarted
  # auditd requires special handling
  ignore_errors: true

- name: Reload firewalld
  ansible.builtin.service:
    name: firewalld
    state: reloaded
  when: ansible_os_family == "RedHat"

- name: Reload ufw
  community.general.ufw:
    state: reloaded
  when: ansible_os_family == "Debian"

- name: Regenerate GRUB config
  ansible.builtin.command: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: ansible_os_family == "RedHat"
